<template>
    <div class={parentTagStyle}>
        <div class="slds-form-element">
            <div class="slds-combobox_container">
                <div class="slds-combobox" aria-label={fieldAriaLabel} aria-expanded="true" aria-haspopup="listbox"
                    role="combobox">
                    <label class="slds-form-element__label" if:false={customStyle}>
                        <abbr class="slds-required" title="required">*</abbr> {fieldLabel}</label>
                    <div class={addError}>
                        <div class={pillClass} data-check="req" tabindex="0" onkeypress={handleKeyPress}
                            data-pick="true" onclick={handleShowPicklist}>
                            <template if:true={selectedStatesArray}>
                                <template if:false={isPreview} for:each={selectedStatesArray} for:index="index"
                                    for:item="picklist">
                                    <span key={picklist}
                                        class="slds-pill slds-pill_link pill-color slds-m-bottom_xx-small">
                                        <a href="javascript:void(0);" class="slds-pill__action"
                                            title="Full pill label verbiage mirrored here">
                                            <span class="slds-pill__label">{picklist.label}</span>
                                        </a>
                                        <button if:false={isPreview}
                                            class="slds-button slds-button_icon slds-button_icon slds-pill__remove"
                                            title="Remove" type="button" data-picklist={picklist.value}
                                            onclick={handlePicklistRemove}>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                viewBox="0 0 12 12">
                                                <g class="nc-icon-wrapper" fill="#999999">
                                                    <path
                                                        d="M10.707,1.293a1,1,0,0,0-1.414,0L6,4.586,2.707,1.293A1,1,0,0,0,1.293,2.707L4.586,6,1.293,9.293a1,1,0,1,0,1.414,1.414L6,7.414l3.293,3.293a1,1,0,0,0,1.414-1.414L7.414,6l3.293-3.293A1,1,0,0,0,10.707,1.293Z"
                                                        fill="#999999"></path>
                                                </g>
                                            </svg>
                                        </button>
                                    </span>
                                </template>
                                <template if:true={isPreview} for:each={selectedStatesArray} for:index="index"
                                    for:item="picklist">
                                    <span key={picklist} class="slds-pill">
                                        <span class="slds-pill__label">{picklist.label}</span>
                                    </span>
                                </template>
                            </template>
                        </div>
                        <template if:false={isPreview}>
                            <template if:true={showPicklist}>
                                <div class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid"
                                    role="listbox">
                                    <ul class="slds-listbox slds-listbox_vertical" role="presentation"
                                        onkeydown={handleKeyDown}>

                                        <li style="padding-right:1rem ;">
                                            <div class="slds-clearfix">
                                                <div class="slds-float_right">
                                                    <span style="font-size:15px;cursor:default" aria-label="Close"
                                                        tabindex="0" onkeypress={handleKeyPress}
                                                        onclick={handleShowPicklist}>&#x292C;</span>
                                                </div>
                                            </div>
                                        </li>
                                        <template for:each={pastStates} for:index="index" for:item="each">
                                            <c-nh-qris-each-lookup key={each.value} index={index} label={each}
                                                onarrowevent={handleArrowEvent} selected-set={selectedStatesArray}
                                                onthispicklist={handleSelectPicklist}
                                                onthispicklistremove={handleSelectPicklistRemove}
                                                is-all-selected={isAllSelected}>
                                            </c-nh-qris-each-lookup>
                                        </template>
                                    </ul>
                                </div>
                            </template>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>